

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>文件查看</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet"
	href="/html/layui/css/layui.css" media="all">

<link rel=stylesheet href="/html/lib/code/doc/docs.css">

<link rel="stylesheet" href="/html/lib/code/lib/codemirror.css">
<link rel="stylesheet" href="/html/lib/code/addon/hint/show-hint.css">

<style>
.CodeMirror {
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	height: 100%;
}
</style>
</head>
<body>
	<div class="layui-form" lay-filter="layuiadmin-app-form-list"
		id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
      <div style="position: fixed;z-index: 999;background-color: #ccc"> 
		
      <div class="layui-inline" >
        <label class="layui-form-label">跳过字符数</label>
        <div class="layui-input-inline">
          <input type="text" name="startLine" id="startLine" placeholder="请输入跳过字符数" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">显示行数</label>
        <div class="layui-input-inline">
          <input type="text" name="limit" id="limit" placeholder="请输入显示行数" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item" >
			<input type="hidden" name="id" id="id"/>
        <label id="path"></label>
			<input type="button" lay-submit lay-filter="layuiadmin-app-form-show" class="layui-btn layui-btn-normal"
				id="layuiadmin-app-form-show" value="刷新"/>
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-up" class="layui-btn layui-btn-normal"
				id="layuiadmin-app-form-up" value="上一页">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-next" class="layui-btn layui-btn-normal"
				id="layuiadmin-app-form-next" value="下一页">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-last" class="layui-btn layui-btn-normal"
				id="layuiadmin-app-form-last" value="最后一页">
		</div>
      </div>
		<div class="layui-form-item" style="margin-top: 120px;">
			<textarea id="code" name="code" class="layui-textarea">
			</textarea>
		</div>
		<div class="layui-form-item">
			<input type="hidden" name="id" id="id"/>
		</div>
	</div>
	<script src="/html/lib/code/lib/codemirror.js"></script>
	<script src="/html/lib/code/addon/hint/show-hint.js"></script>
	<script src="/html/lib/code/addon/hint/xml-hint.js"></script>
	<script src="/html/lib/code/addon/hint/html-hint.js"></script>
	<script src="/html/lib/code/mode/javascript/javascript.js"></script>
	<script src="/html/lib/code/mode/css/css.js"></script>
	<script src="/html/lib/code/mode/htmlmixed/htmlmixed.js"></script>
	
	<script src="/html/lib/code/addon/edit/matchbrackets.js"></script>
	<script src="/html/lib/code/addon/comment/continuecomment.js"></script>
	<script src="/html/lib/code/addon/comment/comment.js"></script>
	
	<script src="/html/layui/layui.js"></script>
<!-- 	<script src="/html/lib/code/mode/xml/xml.js"></script> -->
	
	<div id="jsCode"></div>

	<script>
		var editor=null;
		layui.config({
			base : '/html/' //静态资源所在路径
		}).extend({
			index : 'lib/index' //主入口模块
		}).use([ 'index', 'form' ], function() {
			
			function getQueryVariable(variable) {
				var query = window.location.search.substring(1);
				var vars = query.split("&");
				for (var i = 0; i < vars.length; i++) {
					var pair = vars[i].split("=");
					if (pair[0] == variable) {
						return pair[1];
					}
				}
				return ("");
			}
			
			var $ = layui.$, form = layui.form;
			var id = getQueryVariable("path");
			var startLine = getQueryVariable("startLine");
			var limit = getQueryVariable("limit");
        
        layui.$("#limit").val(limit);
        layui.$("#startLine").val(startLine);
          
			$("#path").html("文件位置："+decodeURIComponent(id))
			var mode="text/html"
			if(id && id.endsWith(".js")){
				mode="javascript"
			}else{
				var domScript = document.createElement('script');
				domScript.src = "/html/lib/code/mode/xml/xml.js";
				layui.$("#jsCode").append(layui.$(domScript));
// 				document.getElementsByTagName('head')[0].appendChild(domScript);
			}
			
			editor =CodeMirror.fromTextArea(document.getElementById("code"), {
				lineNumbers : true,
				lineWrapping : true,
				mode : mode,
				extraKeys : {
					"Alt-/" : "autocomplete"
				}
			//,value: document.documentElement.innerHTML
			});
        var totalChars=0;
        load(id,startLine,limit)
        
        function load(id,startLine,limit){
          if (id) {
				$("#id").val(id);
				$.ajax({
					async : true,
					"url" : "/api/file/get?path=" + id+"&startLine="+startLine+"&limit="+limit,
					"global" : false,
					"type" : "GET",
					"dataType" : "json",
					"timeout" : "60000",
					"traditional" : true,
					"success" : function(a, b, c) {
                 if (a.v) {
                   totalChars=a.v.length;
                   editor.setValue(a.v)
                 }else{
                   totalChars=0;
                   editor.setValue("")
                 }

						//parent.layui.table.reload('LAY-app-content-list'); //重载表格
						//parent.layer.close(index); //再执行关闭 
					},
					"error" : function(err, msg, code) {
						return false;
					}
				});
			}
        }
        
			
        
        
          
        layui.form.on("submit(layuiadmin-app-form-show)", function(i) {
          var id=layui.$("#id").val();
          id=decodeURIComponent(id);
          //id=encodeURIComponent(id);
          var startLine=layui.$("#startLine").val();
          var limit=layui.$("#limit").val();
          load(id,startLine,limit)
				//window.location.href="/html/views/fileMgt/showContent.html?path="+id+"&startLine="+startLine+"&limit="+limit
			});
          
        layui.form.on("submit(layuiadmin-app-form-up)", function(i) {
          var id=layui.$("#id").val();
          //id=decodeURIComponent(id);
          //id=encodeURIComponent(id);
          var startLine=layui.$("#startLine").val();
          var limit=layui.$("#limit").val();
          startLine=parseInt(startLine)-20000;
          startLine=startLine<0?0:startLine;
          layui.$("#startLine").val(startLine)
				load(id,startLine,limit)
          //window.location.href="/html/views/fileMgt/showContent.html?path="+id+"&startLine="+startLine+"&limit="+limit
			});
          
            layui.form.on("submit(layuiadmin-app-form-next)", function(i) {
                var id=layui.$("#id").val();
                //id=decodeURIComponent(id);
                //id=encodeURIComponent(id);
                var startLine=layui.$("#startLine").val();
                var limit=layui.$("#limit").val();
                startLine=parseInt(startLine)+totalChars;
                layui.$("#startLine").val(startLine)
                load(id,startLine,limit)
                    //window.location.href="/html/views/fileMgt/showContent.html?path="+id+"&startLine="+startLine+"&limit="+limit
            });  
            layui.form.on("submit(layuiadmin-app-form-last)", function(i) {
                var id=layui.$("#id").val();
                getLastPos(id,function(startLine){
                    layui.$("#startLine").val(startLine);
                    var limit=layui.$("#limit").val();
                    layui.$("#startLine").val(startLine)
                    load(id,startLine,limit)
                })
            });  
			
		})
        function getLastPos(){
            return 1;
        }
        
        function getLastPos(id,callback){
            var $=layui.$;
          if (id) {
				$("#id").val(id);
				$.ajax({
					async : true,
					"url" : "/api/file/get?path=" + id+"&startLine=-1&limit=10",
					"global" : false,
					"type" : "GET",
					"dataType" : "json",
					"timeout" : "60000",
					"traditional" : true,
					"success" : function(a, b, c) {
                 if (a.v) {
                     callback(a.v)
                 }else{
                   callback("0")
                 }

						//parent.layui.table.reload('LAY-app-content-list'); //重载表格
						//parent.layer.close(index); //再执行关闭 
					},
					"error" : function(err, msg, code) {
						return false;
					}
				});
			}
        }
	</script>
</body>
</html>
