

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>资源新增</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/html/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">应用名称</label>
      <div class="layui-input-inline">
      	<div id="appId"></div>
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">应用类型</label>
      <div class="layui-input-inline">
      	<div name="type" id="type"></div>
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">路径</label>
      <div class="layui-input-inline">
        <input type="text" name="path" id="path" lay-verify="required" placeholder="请输入路径" autocomplete="off" class="layui-input">
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">资源名称</label>
      <div class="layui-input-inline">
        <input type="text" name="resourceName" id="resourceName" lay-verify="required" placeholder="请输入资源名称" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item layui-hide">
      <input type="hidden" name="id" id="id"/>
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
  </div>

  <script src="/html/layui/layui.js"></script>  
  <script src="/html/lib/xmselect/xm-select.js"></script>  
  <script>
  layui.config({
    base: '/html/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form;
    var selType = xmSelect.render({
    	el: '#type', 
    	name:'type',
    	radio: true,
    	clickClose: true,
    	model: {
    		icon: 'hidden',
    		label: {
    			type: 'text'
    		}
    	},
    	toolbar:{
    		show: false,
    	},
    	data: [
    		{name: 'API接口', value: "api"},
            {name: '过滤器', value: "filter"},
            {name: '任务', value: "task"},
            {name: '插件', value: "plugin"},
    		{name: 'ftl模板', value: "ftl"},
    		{name: 'html网页', value: "html"},
    	]
    })
    
    var selAppId = xmSelect.render({
    	el: '#appId', 
    	name:'appId',
    	//配置搜索
    	filterable: true,
    	radio: true,
    	clickClose: true,
    	//配置远程分页
    	paging: true,
    	pageRemote: true,
    	pageEmptyShow: false,
    	model: {
    		icon: 'hidden',
    		label: {
    			type: 'text'
    		}
    	},
    	toolbar:{
    		show: false,
    	},
    	//数据处理
    	remoteMethod: function(val, cb, show, pageIndex){
    		//val: 搜索框的内容, 不开启搜索默认为空, cb: 回调函数, show: 当前下拉框是否展开, pageIndex: 当前第几页
    		var field={"appName":val};
    		var pageSize=10;
        	$.ajax({
    			async : true,
    			"url" : "/api/app/page?page="+pageIndex+"&limit="+pageSize+"&appName="+val,
    			"global" : false,
    			"type" : "POST",
    			"contentType": "application/json; charset=utf-8",
    			"dataType" : "json",
    			"timeout" : "60000",
    			"traditional":true,
    			"success" : function(a,b,c){
    				if(a.v&&a.v.collection){
    					var data=[]
    					$.each(a.v.collection,function(index,item){
    						var item={"name":item.appName,"value":item.id};
    						data.push(item);
//     						$("#appId").append('<option value="'+item.id+'">'+item.appName+'</option>');
    					});
    					cb(data, a.v.totalPages)
    				}
    				
    			},
    			"error" : function(err, msg, code) {
    				return false;
    			}
    		});
    	}
    })
    function getQueryVariable(variable) {
		var query = window.location.search.substring(1);
		var vars = query.split("&");
		for (var i = 0; i < vars.length; i++) {
			var pair = vars[i].split("=");
			if (pair[0] == variable) {
				return pair[1];
			}
		}
		return (false);
	}
//     selAppId.
	var id = getQueryVariable("id");
	if(id){
		$.ajax({
			async : true,
			"url" : "/api/resource/get?id="+id,
			"global" : false,
			"type" : "GET",
			"contentType": "application/json; charset=utf-8",
			"dataType" : "json",
			"timeout" : "60000",
			"traditional":true,
			"success" : function(a,b,c){
				if(a.v){
					var data=a.v[0]
					var appId=data.appId;
					selType.setValue([data.type])
					$("#id").val(data.id)
					$("#path").val(data.path)
					$("#resourceName").val(data.resourceName)
					getAppById(appId)
				}
			},
			"error" : function(err, msg, code) {
				return false;
			}
		});
	}
	
	
	function getAppById(id){
		$.ajax({
			async : true,
			"url" : "/api/app/get?id="+id,
			"global" : false,
			"type" : "GET",
			"contentType": "application/json; charset=utf-8",
			"dataType" : "json",
			"timeout" : "60000",
			"traditional":true,
			"success" : function(a,b,c){
				if(a.v){
					selAppId.setValue([
					   		{name: a.v[0].appName, value: a.v[0].id, selected: true}
					   	])
				}
			},
			"error" : function(err, msg, code) {
				return false;
			}
		});
	}
    
	
	
    
//     loadAppList();
    
    function loadAppList(){
    	var field={};
    	$.ajax({
			async : true,
			"url" : "/api/app/page?page=1&limit=999",
			"global" : false,
			"type" : "POST",
			"contentType": "application/json; charset=utf-8",
			"dataType" : "json",
			"timeout" : "60000",
			"data" : JSON.stringify(field),
			"traditional":true,
			"success" : function(a,b,c){
				if(a.v&&a.v.collection){
					$.each(a.v.collection,function(index,item){
// 						$("#appId").append('<option value="'+item.id+'">'+item.appName+'</option>');
					});
				}
				
			},
			"error" : function(err, msg, code) {
				return false;
			}
		});
    }
    //监听提交
    form.on('submit(layuiadmin-app-form-submit)', function(data){
      var field = data.field; //获取提交的字段
      debugger
      if(selAppId.getValue()){
	  	  field.appId=selAppId.getValue()[0].value;
      }
      debugger
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
		$.ajax({
			async : true,
			"url" : "/api/resource/add",
			"global" : false,
			"type" : "POST",
			"contentType": "application/json; charset=utf-8",
			"dataType" : "json",
			"timeout" : "60000",
			"data" : JSON.stringify(field),
			"traditional":true,
			"success" : function(a,b,c){
				parent.layui.table.reload('LAY-app-content-list'); //重载表格
	      		parent.layer.close(index); //再执行关闭 
			},
			"error" : function(err, msg, code) {
				return false;
			}
		});
      //提交 Ajax 成功后，关闭当前弹层并重载表格
      //$.ajax({});
      
    });
  })
  </script>
</body>
</html>
