<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>方法索引信息列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/html/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/html/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          
          <div class="layui-inline">
            <label class="layui-form-label">路径</label>
            <div class="layui-input-inline">
              <input type="text" name="path" placeholder="请输入径" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">包名</label>
            <div class="layui-input-inline">
              <input type="text" name="package" placeholder="请输入包名" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">类名</label>
            <div class="layui-input-inline">
              <input type="text" name="className" placeholder="请输入类名" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">方法名</label>
            <div class="layui-input-inline">
              <input type="text" name="methodName" placeholder="请输入方法名" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
        </div>
        <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table> 
        <script type="text/html" id="buttonTpl">
          
        </script>
        <script type="text/html" id="table-content-list">
        </script>
      </div>
    </div>
  </div>

  <script src="/html/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '/html/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
    ,method:'{/}/html/views/index/method'
  }).use(['index', 'method', 'table'], function(){
    var table = layui.table
    ,form = layui.form;
    
    //监听搜索
    form.on('submit(LAY-app-contlist-search)', function(data){
      var field = data.field;
      //执行重载
      table.reload('LAY-app-content-list', {
        where: field
      });
    });
    
    var $ = layui.$, active = {
      
    }; 

    $('.layui-btn.layuiadmin-btn-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
  </script>
</body>
</html>
